################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BigDays/bin/Debug
/Components
/packages
/Tools
/BigDays/obj/Debug
/.vs/BigDays/v14
/BigDays/obj/Release
/BigDays/bin/Release
/BigDays/bin/Release Amazon
/BigDays/obj/ReleaseAmazon
/BigDays/Components
/BigDays/.vs/BigDays/v14
/BigDays/.vs/BigDays/v14
/BigDays/bin
/BigDays/obj/ReleasePaid
/BigDays/obj/DebugFree
/BigDays/obj/ReleaseFree
